body{
    background-color: #273238;
}

h1{
    text-align: center;
    color: #698593;
    background-color: #ffffff;
    font-size: 40px;

}

p {
    color: #ffffff;
}

.color-aspiradora{
    color: #E6CBBF;
}
